
body{
    background-image: url("../imagens/fundo.jpg");
    
    margin: 0px;
    font-family: "Source Sans 3", sans-serif;
    
}

#titulo{
 padding: 0px;
 text-align: center;
 font-family: "Roboto", sans-serif;
 color:rgb(255, 255, 255);
 background-color: #FF69B4 ;
 
}

.menu{
    display: flex;
    justify-content: center;
    font-family:"Source Sans 3", sans-serif; 
    font-weight: 400;
    background-color:chartreuse;
    padding: 2px;
    padding-bottom: 2px;
    gap:5px;
   
}

.icon{
    position: fixed;
}


#text-menu{
    padding:0;
    margin: 0%;   
    text-align: center;
     background-color: chartreuse;
}
     

.cards{
    display: grid;
    text-align: center;
    padding: 10px;
    gap: 20px;
    grid-template-columns: repeat(2,500px);
    justify-content: center;
    font-family:"Roboto", sans-serif;
}

.cards div{
border: 2px solid;
background-color: rgb(255, 153, 0);
width: 1000px;
height: 300px;
font-size: medium;

}

.cards div{ 
border: 2px solid;
background-color: rgb(255, 153, 0);
width: 500px;
height: 300px;
} 
#rodape{
    font-family:"Roboto", sans-serif;
    text-align: center;
    margin:0;
    padding: 20px; 
    background-color: chartreuse
}

#titulo-tab{

font-family:"Roboto", sans-serif;
text-align: center;
padding-top: 30px;
}

.tabela{
    display: flex;
    justify-content: center;
    margin: 0%;
   padding-bottom:30px; 
   padding-top:30px; ;
}

#tab{
width: 500px;
height: 300px;

}
th{
    background-color:#FFF01F ;
}


tr{
    text-align: center;
    font-family:"Source Sans 3", sans-serif; 
}

.foto{
    text-align: center;
    border-radius: 50px;
    margin: 0;
    
}
 #img{
   display: grid;
    text-align: center;
    padding: 10px;
    gap: 20px;
    grid-template-columns: repeat(3,500px);

 }

 .formulario{
   display:flex;
   flex-direction: column;
    width: 300px; 
    height: 400px; 
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    margin: auto;
    margin-bottom: 50px;
    background-color: cornflowerblue;
    font-family:"Roboto", sans-serif;
    position: relative;
  
}
.caixa{
display: flex;
flex-direction: column;
justify-content: center;
padding: 10px;
gap: 5px;

}

.campo{
 text-align: center;
}

h2{
    text-align: center;
}


.enviar{
    padding: 10px;
    cursor: pointer;
    transition: 3s;
}

 .enviar:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: antiquewhite ;
  
 
 }